html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

.App {
  position: relative;
}

.card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-number {
  font-size: 100px;
}

.arrow-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
